USE [Servicios]
GO
/****** Objeto: Table [dbo].[Activos] Fecha de script: 20/06/2026 9:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigoQR] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[serial] [varchar](50) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[estado] [varchar](25) NOT NULL,
	[tarigaDiaria] [decimal](10, 2) NOT NULL,
	[motivoDesactivacion] [varchar](max) NULL,
 CONSTRAINT [PK_Activos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activos] ON 

INSERT [dbo].[Activos] ([id], [codigoQR], [marca], [modelo], [serial], [tipo], [estado], [tarigaDiaria], [motivoDesactivacion]) VALUES (1, N'QR-MIG-001', N'Miller', N'Millermatic 252', N'SER-MIG-101', N'MIG', N'DISPONIBLE', CAST(45000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Activos] ([id], [codigoQR], [marca], [modelo], [serial], [tipo], [estado], [tarigaDiaria], [motivoDesactivacion]) VALUES (2, N'QR-TIG-002', N'Lincoln', N'Invertec V275', N'SER-TIG-102', N'TIG', N'DISPONIBLE', CAST(55000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Activos] ([id], [codigoQR], [marca], [modelo], [serial], [tipo], [estado], [tarigaDiaria], [motivoDesactivacion]) VALUES (3, N'QR-PLA-003', N'Hypertherm', N'Powermax 45', N'SER-PLA-103', N'PLASMA', N'ALQUILADO', CAST(70000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Activos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Activos_QR] Fecha de script: 20/06/2026 9:31:48 ******/
ALTER TABLE [dbo].[Activos] ADD  CONSTRAINT [UQ_Activos_QR] UNIQUE NONCLUSTERED 
(
	[codigoQR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Activos_Serial] Fecha de script: 20/06/2026 9:31:48 ******/
ALTER TABLE [dbo].[Activos] ADD  CONSTRAINT [UQ_Activos_Serial] UNIQUE NONCLUSTERED 
(
	[serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activos]  WITH CHECK ADD  CONSTRAINT [CHK_Activo_Estado] CHECK  (([estado]='FUERA_DE_SERVICIO' OR [estado]='ALQUILADO' OR [estado]='EN_MANTENIMIENTO' OR [estado]='DISPONIBLE'))
GO
ALTER TABLE [dbo].[Activos] CHECK CONSTRAINT [CHK_Activo_Estado]
GO
ALTER TABLE [dbo].[Activos]  WITH CHECK ADD  CONSTRAINT [CHK_Activo_Tipo] CHECK  (([tipo]='MMA' OR [tipo]='PLASMA' OR [tipo]='TIG' OR [tipo]='MIG'))
GO
ALTER TABLE [dbo].[Activos] CHECK CONSTRAINT [CHK_Activo_Tipo]
GO
