USE [Servicios]
GO
/****** Objeto: Table [dbo].[ActividadTecnica] Fecha de script: 20/06/2026 9:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadTecnica](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[activoId] [int] NOT NULL,
	[fechaRegistro] [datetime] NOT NULL,
	[descripcionFalla] [varchar](max) NOT NULL,
	[diagnostico] [varchar](max) NULL,
 CONSTRAINT [PK_ActividadTecnica] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Activos] Fecha de script: 20/06/2026 9:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigoQR] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[serial] [varchar](50) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[estado] [varchar](25) NOT NULL,
	[tarigaDiaria] [decimal](10, 2) NOT NULL,
	[motivoDesactivacion] [varchar](max) NULL,
 CONSTRAINT [PK_Activos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Alquiler] Fecha de script: 20/06/2026 9:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alquiler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigoContrato] [varchar](50) NOT NULL,
	[clienteId] [int] NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NOT NULL,
	[diasTotales] [int] NOT NULL,
	[valorTotal] [decimal](12, 2) NOT NULL,
	[contratoPdfUrl] [varchar](255) NULL,
 CONSTRAINT [PK_Alquiler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 20/06/2026 9:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nit] [varchar](20) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[contacto] [varchar](20) NULL,
	[correo] [varchar](100) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cotizacion] Fecha de script: 20/06/2026 9:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[actividadId] [int] NOT NULL,
	[costoRepuestos] [decimal](10, 2) NOT NULL,
	[costoManoObraExterna] [decimal](10, 2) NOT NULL,
	[totalEstimado]  AS ([costoRepuestos]+[costoManoObraExterna]),
	[plantillaInterna] [varchar](50) NULL,
	[archivoPdfAdjuntoUrl] [varchar](255) NULL,
 CONSTRAINT [PK_Cotizacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HistoricoReparacion] Fecha de script: 20/06/2026 9:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoReparacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[activoId] [int] NOT NULL,
	[actividadId] [int] NOT NULL,
	[lineaTiempoIntervenciones] [varchar](max) NOT NULL,
 CONSTRAINT [PK_HistoricoReparacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[InspeccionAccesorio] Fecha de script: 20/06/2026 9:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspeccionAccesorio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[alquilerId] [int] NOT NULL,
	[tipoInspection] [varchar](10) NOT NULL,
	[tieneAntorcha] [bit] NOT NULL,
	[tienePinzaMasa] [bit] NOT NULL,
	[estadoCables] [varchar](100) NULL,
	[observaciones] [varchar](max) NULL,
	[aprobado] [bit] NOT NULL,
 CONSTRAINT [PK_InspeccionAccesorio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MantenimientoPreventivo] Fecha de script: 20/06/2026 9:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MantenimientoPreventivo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[activoId] [int] NOT NULL,
	[frecuenciaDias] [int] NOT NULL,
	[fechaUltimoMantenimiento] [date] NULL,
	[fechaProximoMantenimiento] [date] NOT NULL,
	[alertaEnviada] [bit] NOT NULL,
 CONSTRAINT [PK_MantenimientoPreventivo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[OrdenTrabajo] Fecha de script: 20/06/2026 9:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenTrabajo](
	[actividadId] [int] NOT NULL,
	[numeroOT] [varchar](50) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NULL,
	[tecnicoId] [int] NOT NULL,
 CONSTRAINT [PK_OrdenTrabajo] PRIMARY KEY CLUSTERED 
(
	[actividadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RepuestoUtilizado] Fecha de script: 20/06/2026 9:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepuestoUtilizado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ordenTrabajoId] [int] NOT NULL,
	[repuestoId] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[costoUnitario] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_RepuestoUtilizado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activos] ON 

INSERT [dbo].[Activos] ([id], [codigoQR], [marca], [modelo], [serial], [tipo], [estado], [tarigaDiaria], [motivoDesactivacion]) VALUES (1, N'QR-MIG-001', N'Miller', N'Millermatic 252', N'SER-MIG-101', N'MIG', N'DISPONIBLE', CAST(45000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Activos] ([id], [codigoQR], [marca], [modelo], [serial], [tipo], [estado], [tarigaDiaria], [motivoDesactivacion]) VALUES (2, N'QR-TIG-002', N'Lincoln', N'Invertec V275', N'SER-TIG-102', N'TIG', N'DISPONIBLE', CAST(55000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Activos] ([id], [codigoQR], [marca], [modelo], [serial], [tipo], [estado], [tarigaDiaria], [motivoDesactivacion]) VALUES (3, N'QR-PLA-003', N'Hypertherm', N'Powermax 45', N'SER-PLA-103', N'PLASMA', N'ALQUILADO', CAST(70000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Activos] OFF
GO
SET IDENTITY_INSERT [dbo].[Alquiler] ON 

INSERT [dbo].[Alquiler] ([id], [codigoContrato], [clienteId], [fechaInicio], [fechaFin], [diasTotales], [valorTotal], [contratoPdfUrl]) VALUES (1, N'ALQ-2026-001', 1, CAST(N'2026-05-01' AS Date), CAST(N'2026-05-10' AS Date), 9, CAST(405000.00 AS Decimal(12, 2)), N'https://storage.taller.com/pdf/alq-001.pdf')
INSERT [dbo].[Alquiler] ([id], [codigoContrato], [clienteId], [fechaInicio], [fechaFin], [diasTotales], [valorTotal], [contratoPdfUrl]) VALUES (2, N'ALQ-2026-002', 2, CAST(N'2026-05-02' AS Date), CAST(N'2026-05-12' AS Date), 10, CAST(550000.00 AS Decimal(12, 2)), N'https://storage.taller.com/pdf/alq-002.pdf')
INSERT [dbo].[Alquiler] ([id], [codigoContrato], [clienteId], [fechaInicio], [fechaFin], [diasTotales], [valorTotal], [contratoPdfUrl]) VALUES (3, N'ALQ-2026-003', 3, CAST(N'2026-05-05' AS Date), CAST(N'2026-05-20' AS Date), 15, CAST(1050000.00 AS Decimal(12, 2)), N'https://storage.taller.com/pdf/alq-003.pdf')
SET IDENTITY_INSERT [dbo].[Alquiler] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id], [nit], [nombre], [apellido], [contacto], [correo]) VALUES (1, N'900.123.456-1', N'Juan', N'Pérez', N'3101234567', N'juan.perez@email.com')
INSERT [dbo].[Clientes] ([id], [nit], [nombre], [apellido], [contacto], [correo]) VALUES (2, N'900.123.456-2', N'María', N'Gómez', N'3112345678', N'maria.gomez@email.com')
INSERT [dbo].[Clientes] ([id], [nit], [nombre], [apellido], [contacto], [correo]) VALUES (3, N'900.123.456-3', N'Carlos', N'Rodríguez', N'3123456789', N'carlos.rod@email.com')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[InspeccionAccesorio] ON 

INSERT [dbo].[InspeccionAccesorio] ([id], [alquilerId], [tipoInspection], [tieneAntorcha], [tienePinzaMasa], [estadoCables], [observaciones], [aprobado]) VALUES (1, 1, N'CheckOut', 1, 1, N'Excelente estado', N'Sin novedades', 1)
INSERT [dbo].[InspeccionAccesorio] ([id], [alquilerId], [tipoInspection], [tieneAntorcha], [tienePinzaMasa], [estadoCables], [observaciones], [aprobado]) VALUES (2, 1, N'CheckIn', 1, 1, N'Buen estado', N'Retorna con suciedad normal de obra', 1)
INSERT [dbo].[InspeccionAccesorio] ([id], [alquilerId], [tipoInspection], [tieneAntorcha], [tienePinzaMasa], [estadoCables], [observaciones], [aprobado]) VALUES (3, 2, N'CheckOut', 1, 1, N'Nuevos', N'Kit de lujo entregado', 1)
SET IDENTITY_INSERT [dbo].[InspeccionAccesorio] OFF
GO
SET IDENTITY_INSERT [dbo].[MantenimientoPreventivo] ON 

INSERT [dbo].[MantenimientoPreventivo] ([id], [activoId], [frecuenciaDias], [fechaUltimoMantenimiento], [fechaProximoMantenimiento], [alertaEnviada]) VALUES (1, 1, 90, CAST(N'2026-01-15' AS Date), CAST(N'2026-04-15' AS Date), 1)
INSERT [dbo].[MantenimientoPreventivo] ([id], [activoId], [frecuenciaDias], [fechaUltimoMantenimiento], [fechaProximoMantenimiento], [alertaEnviada]) VALUES (2, 2, 90, CAST(N'2026-02-10' AS Date), CAST(N'2026-05-10' AS Date), 1)
INSERT [dbo].[MantenimientoPreventivo] ([id], [activoId], [frecuenciaDias], [fechaUltimoMantenimiento], [fechaProximoMantenimiento], [alertaEnviada]) VALUES (3, 3, 60, CAST(N'2026-03-01' AS Date), CAST(N'2026-05-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[MantenimientoPreventivo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Activos_QR] Fecha de script: 20/06/2026 9:35:46 ******/
ALTER TABLE [dbo].[Activos] ADD  CONSTRAINT [UQ_Activos_QR] UNIQUE NONCLUSTERED 
(
	[codigoQR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Activos_Serial] Fecha de script: 20/06/2026 9:35:46 ******/
ALTER TABLE [dbo].[Activos] ADD  CONSTRAINT [UQ_Activos_Serial] UNIQUE NONCLUSTERED 
(
	[serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Alquiler_Contrato] Fecha de script: 20/06/2026 9:35:46 ******/
ALTER TABLE [dbo].[Alquiler] ADD  CONSTRAINT [UQ_Alquiler_Contrato] UNIQUE NONCLUSTERED 
(
	[codigoContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Clientes_Nit] Fecha de script: 20/06/2026 9:35:46 ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ_Clientes_Nit] UNIQUE NONCLUSTERED 
(
	[nit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_OrdenTrabajo_Numero] Fecha de script: 20/06/2026 9:35:46 ******/
ALTER TABLE [dbo].[OrdenTrabajo] ADD  CONSTRAINT [UQ_OrdenTrabajo_Numero] UNIQUE NONCLUSTERED 
(
	[numeroOT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActividadTecnica] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[MantenimientoPreventivo] ADD  DEFAULT ((0)) FOR [alertaEnviada]
GO
ALTER TABLE [dbo].[ActividadTecnica]  WITH CHECK ADD  CONSTRAINT [FK_Actividad_Activo] FOREIGN KEY([activoId])
REFERENCES [dbo].[Activos] ([id])
GO
ALTER TABLE [dbo].[ActividadTecnica] CHECK CONSTRAINT [FK_Actividad_Activo]
GO
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_Alquiler_Cliente] FOREIGN KEY([clienteId])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_Alquiler_Cliente]
GO
ALTER TABLE [dbo].[Cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_Cotizacion_Actividad] FOREIGN KEY([actividadId])
REFERENCES [dbo].[ActividadTecnica] ([id])
GO
ALTER TABLE [dbo].[Cotizacion] CHECK CONSTRAINT [FK_Cotizacion_Actividad]
GO
ALTER TABLE [dbo].[HistoricoReparacion]  WITH CHECK ADD  CONSTRAINT [FK_Historico_Actividad] FOREIGN KEY([actividadId])
REFERENCES [dbo].[ActividadTecnica] ([id])
GO
ALTER TABLE [dbo].[HistoricoReparacion] CHECK CONSTRAINT [FK_Historico_Actividad]
GO
ALTER TABLE [dbo].[HistoricoReparacion]  WITH CHECK ADD  CONSTRAINT [FK_Historico_Activo] FOREIGN KEY([activoId])
REFERENCES [dbo].[Activos] ([id])
GO
ALTER TABLE [dbo].[HistoricoReparacion] CHECK CONSTRAINT [FK_Historico_Activo]
GO
ALTER TABLE [dbo].[InspeccionAccesorio]  WITH CHECK ADD  CONSTRAINT [FK_Inspeccion_Alquiler] FOREIGN KEY([alquilerId])
REFERENCES [dbo].[Alquiler] ([id])
GO
ALTER TABLE [dbo].[InspeccionAccesorio] CHECK CONSTRAINT [FK_Inspeccion_Alquiler]
GO
ALTER TABLE [dbo].[MantenimientoPreventivo]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimiento_Activo] FOREIGN KEY([activoId])
REFERENCES [dbo].[Activos] ([id])
GO
ALTER TABLE [dbo].[MantenimientoPreventivo] CHECK CONSTRAINT [FK_Mantenimiento_Activo]
GO
ALTER TABLE [dbo].[OrdenTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_OT_Actividad] FOREIGN KEY([actividadId])
REFERENCES [dbo].[ActividadTecnica] ([id])
GO
ALTER TABLE [dbo].[OrdenTrabajo] CHECK CONSTRAINT [FK_OT_Actividad]
GO
ALTER TABLE [dbo].[RepuestoUtilizado]  WITH CHECK ADD  CONSTRAINT [FK_Repuesto_OT] FOREIGN KEY([ordenTrabajoId])
REFERENCES [dbo].[OrdenTrabajo] ([actividadId])
GO
ALTER TABLE [dbo].[RepuestoUtilizado] CHECK CONSTRAINT [FK_Repuesto_OT]
GO
ALTER TABLE [dbo].[Activos]  WITH CHECK ADD  CONSTRAINT [CHK_Activo_Estado] CHECK  (([estado]='FUERA_DE_SERVICIO' OR [estado]='ALQUILADO' OR [estado]='EN_MANTENIMIENTO' OR [estado]='DISPONIBLE'))
GO
ALTER TABLE [dbo].[Activos] CHECK CONSTRAINT [CHK_Activo_Estado]
GO
ALTER TABLE [dbo].[Activos]  WITH CHECK ADD  CONSTRAINT [CHK_Activo_Tipo] CHECK  (([tipo]='MMA' OR [tipo]='PLASMA' OR [tipo]='TIG' OR [tipo]='MIG'))
GO
ALTER TABLE [dbo].[Activos] CHECK CONSTRAINT [CHK_Activo_Tipo]
GO
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [CHK_Alquiler_Fechas] CHECK  (([fechaFin]>=[fechaInicio]))
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [CHK_Alquiler_Fechas]
GO
ALTER TABLE [dbo].[InspeccionAccesorio]  WITH CHECK ADD  CONSTRAINT [CHK_Inspeccion_Tipo] CHECK  (([tipoInspection]='CheckOut' OR [tipoInspection]='CheckIn'))
GO
ALTER TABLE [dbo].[InspeccionAccesorio] CHECK CONSTRAINT [CHK_Inspeccion_Tipo]
GO
ALTER TABLE [dbo].[OrdenTrabajo]  WITH CHECK ADD  CONSTRAINT [CHK_OT_Estado] CHECK  (([estado]='AUDITADA' OR [estado]='CERRADA' OR [estado]='EN_PRUEBAS' OR [estado]='EN_PROCESO' OR [estado]='ABIERTA'))
GO
ALTER TABLE [dbo].[OrdenTrabajo] CHECK CONSTRAINT [CHK_OT_Estado]
GO
ALTER TABLE [dbo].[RepuestoUtilizado]  WITH CHECK ADD  CONSTRAINT [CHK_Repuesto_Cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[RepuestoUtilizado] CHECK CONSTRAINT [CHK_Repuesto_Cantidad]
GO
